html, body {
    width: 100%;
    margin: 0;
    background: rgb(190, 99, 99);
    font-family: "Quattrocento", helvetica, sans-serif;
    height: 100%;
    padding: 0;
    border: 0;
}
h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

